<div class='healthcare-service-row'>
  <select name='healthcare_service_type[]'>
    <option value='' {{selected this.type ''}}></option>
    <option value='Adoption/Permanent Care Info/Support' {{selected this.type 'Adoption/Permanent Care Info/Support'}}>Adoption/Permanent Care Info/Support</option>
    <option value='Aged Care Assessment' {{selected this.type 'Aged Care Assessment'}}>Aged Care Assessment</option>
    <option value='Aged Care Information/Referral' {{selected this.type 'Aged Care Information/Referral'}}>Aged Care Information/Referral</option>
    <option value='Aged Residential Care' {{selected this.type 'Aged Residential Care'}}>Aged Residential Care</option>
    <option value='Case Management for Older Persons' {{selected this.type 'Case Management for Older Persons'}}>Case Management for Older Persons</option>
    <option value='Delivered Meals (Meals On Wheels)' {{selected this.type 'Delivered Meals (Meals On Wheels)'}}>Delivered Meals (Meals On Wheels)</option>
    <option value='Friendly Visiting' {{selected this.type 'Friendly Visiting'}}>Friendly Visiting</option>
    <option value='Home Care/Housekeeping Assistance' {{selected this.type 'Home Care/Housekeeping Assistance'}}>Home Care/Housekeeping Assistance</option>
    <option value='Home Maintenance and Repair' {{selected this.type 'Home Maintenance and Repair'}}>Home Maintenance and Repair</option>
    <option value='Personal Alarms/Alerts' {{selected this.type 'Personal Alarms/Alerts'}}>Personal Alarms/Alerts</option>
    <option value='Personal Care for Older Persons' {{selected this.type 'Personal Care for Older Persons'}}>Personal Care for Older Persons</option>
    <option value='Planned Activity Groups' {{selected this.type 'Planned Activity Groups'}}>Planned Activity Groups</option>
    <option value='Acupuncture' {{selected this.type 'Acupuncture'}}>Acupuncture</option>
    <option value='Alexander Technique Therapy' {{selected this.type 'Alexander Technique Therapy'}}>Alexander Technique Therapy</option>
    <option value='Aromatherapy' {{selected this.type 'Aromatherapy'}}>Aromatherapy</option>
    <option value='Biorhythm Services' {{selected this.type 'Biorhythm Services'}}>Biorhythm Services</option>
    <option value='Bowen Therapy' {{selected this.type 'Bowen Therapy'}}>Bowen Therapy</option>
    <option value='Chinese Herbal Medicine' {{selected this.type 'Chinese Herbal Medicine'}}>Chinese Herbal Medicine</option>
    <option value='Feldenkrais' {{selected this.type 'Feldenkrais'}}>Feldenkrais</option>
    <option value='Homoeopathy' {{selected this.type 'Homoeopathy'}}>Homoeopathy</option>
    <option value='Hydrotherapy' {{selected this.type 'Hydrotherapy'}}>Hydrotherapy</option>
    <option value='Hypnotherapy' {{selected this.type 'Hypnotherapy'}}>Hypnotherapy</option>
    <option value='Kinesiology' {{selected this.type 'Kinesiology'}}>Kinesiology</option>
    <option value='Magnetic Therapy' {{selected this.type 'Magnetic Therapy'}}>Magnetic Therapy</option>
    <option value='Massage Therapy' {{selected this.type 'Massage Therapy'}}>Massage Therapy</option>
    <option value='Meditation' {{selected this.type 'Meditation'}}>Meditation</option>
    <option value='Myotherapy' {{selected this.type 'Myotherapy'}}>Myotherapy</option>
    <option value='Naturopathy' {{selected this.type 'Naturopathy'}}>Naturopathy</option>
    <option value='Reflexology' {{selected this.type 'Reflexology'}}>Reflexology</option>
    <option value='Reiki' {{selected this.type 'Reiki'}}>Reiki</option>
    <option value='Relaxation Therapy' {{selected this.type 'Relaxation Therapy'}}>Relaxation Therapy</option>
    <option value='Shiatsu' {{selected this.type 'Shiatsu'}}>Shiatsu</option>
    <option value='Western Herbal Medicine' {{selected this.type 'Western Herbal Medicine'}}>Western Herbal Medicine</option>
    <option value='Family Day care' {{selected this.type 'Family Day care'}}>Family Day care</option>
    <option value='Holiday Programs' {{selected this.type 'Holiday Programs'}}>Holiday Programs</option>
    <option value='Kindergarten Inclusion Support' {{selected this.type 'Kindergarten Inclusion Support'}}>Kindergarten Inclusion Support</option>
    <option value='Kindergarten/Preschool' {{selected this.type 'Kindergarten/Preschool'}}>Kindergarten/Preschool</option>
    <option value='Long Day Child Care' {{selected this.type 'Long Day Child Care'}}>Long Day Child Care</option>
    <option value='Occasional Child Care' {{selected this.type 'Occasional Child Care'}}>Occasional Child Care</option>
    <option value='Outside School Hours Care' {{selected this.type 'Outside School Hours Care'}}>Outside School Hours Care</option>
    <option value='Children&#39;s Play Programs' {{selected this.type 'Children&#39;s Play Programs'}}>Children&#39;s Play Programs</option>
    <option value='Parenting/Family Support/Education' {{selected this.type 'Parenting/Family Support/Education'}}>Parenting/Family Support/Education</option>
    <option value='Playgroup' {{selected this.type 'Playgroup'}}>Playgroup</option>
    <option value='School Nursing' {{selected this.type 'School Nursing'}}>School Nursing</option>
    <option value='Toy Library' {{selected this.type 'Toy Library'}}>Toy Library</option>
    <option value='Child Protection/Child Abuse Report' {{selected this.type 'Child Protection/Child Abuse Report'}}>Child Protection/Child Abuse Report</option>
    <option value='Foster Care' {{selected this.type 'Foster Care'}}>Foster Care</option>
    <option value='Residential/Out-of-Home Care' {{selected this.type 'Residential/Out-of-Home Care'}}>Residential/Out-of-Home Care</option>
    <option value='Support - Young People Leaving Care' {{selected this.type 'Support - Young People Leaving Care'}}>Support - Young People Leaving Care</option>
    <option value='Audiology' {{selected this.type 'Audiology'}}>Audiology</option>
    <option value='Blood Donation' {{selected this.type 'Blood Donation'}}>Blood Donation</option>
    <option value='Chiropractic' {{selected this.type 'Chiropractic'}}>Chiropractic</option>
    <option value='Dietetics' {{selected this.type 'Dietetics'}}>Dietetics</option>
    <option value='Family Planning' {{selected this.type 'Family Planning'}}>Family Planning</option>
    <option value='Health Advocacy/Liaison Service' {{selected this.type 'Health Advocacy/Liaison Service'}}>Health Advocacy/Liaison Service</option>
    <option value='Health Information/Referral' {{selected this.type 'Health Information/Referral'}}>Health Information/Referral</option>
    <option value='Immunization' {{selected this.type 'Immunization'}}>Immunization</option>
    <option value='Maternal & Child Health' {{selected this.type 'Maternal & Child Health'}}>Maternal & Child Health</option>
    <option value='Nursing' {{selected this.type 'Nursing'}}>Nursing</option>
    <option value='Nutrition' {{selected this.type 'Nutrition'}}>Nutrition</option>
    <option value='Occupational Therapy' {{selected this.type 'Occupational Therapy'}}>Occupational Therapy</option>
    <option value='Optometry' {{selected this.type 'Optometry'}}>Optometry</option>
    <option value='Osteopathy' {{selected this.type 'Osteopathy'}}>Osteopathy</option>
    <option value='Pharmacy' {{selected this.type 'Pharmacy'}}>Pharmacy</option>
    <option value='Physiotherapy' {{selected this.type 'Physiotherapy'}}>Physiotherapy</option>
    <option value='Podiatry' {{selected this.type 'Podiatry'}}>Podiatry</option>
    <option value='Sexual Health' {{selected this.type 'Sexual Health'}}>Sexual Health</option>
    <option value='Speech Pathology/Therapy' {{selected this.type 'Speech Pathology/Therapy'}}>Speech Pathology/Therapy</option>
    <option value='Bereavement Counselling' {{selected this.type 'Bereavement Counselling'}}>Bereavement Counselling</option>
    <option value='Crisis Counselling' {{selected this.type 'Crisis Counselling'}}>Crisis Counselling</option>
    <option value='Family Counselling/Therapy' {{selected this.type 'Family Counselling/Therapy'}}>Family Counselling/Therapy</option>
    <option value='Family Violence Counselling' {{selected this.type 'Family Violence Counselling'}}>Family Violence Counselling</option>
    <option value='Financial Counselling' {{selected this.type 'Financial Counselling'}}>Financial Counselling</option>
    <option value='Generalist Counselling' {{selected this.type 'Generalist Counselling'}}>Generalist Counselling</option>
    <option value='Genetic Counselling' {{selected this.type 'Genetic Counselling'}}>Genetic Counselling</option>
    <option value='Health Counselling' {{selected this.type 'Health Counselling'}}>Health Counselling</option>
    <option value='Mediation' {{selected this.type 'Mediation'}}>Mediation</option>
    <option value='Problem Gambling Counselling' {{selected this.type 'Problem Gambling Counselling'}}>Problem Gambling Counselling</option>
    <option value='Relationship Counselling' {{selected this.type 'Relationship Counselling'}}>Relationship Counselling</option>
    <option value='Sexual Assault Counselling' {{selected this.type 'Sexual Assault Counselling'}}>Sexual Assault Counselling</option>
    <option value='Trauma Counselling' {{selected this.type 'Trauma Counselling'}}>Trauma Counselling</option>
    <option value='Victims of Crime Counselling' {{selected this.type 'Victims of Crime Counselling'}}>Victims of Crime Counselling</option>
    <option value='Cemetery Operation' {{selected this.type 'Cemetery Operation'}}>Cemetery Operation</option>
    <option value='Cremation' {{selected this.type 'Cremation'}}>Cremation</option>
    <option value='Death Service Information' {{selected this.type 'Death Service Information'}}>Death Service Information</option>
    <option value='Funeral Services' {{selected this.type 'Funeral Services'}}>Funeral Services</option>
    <option value='Endodontic' {{selected this.type 'Endodontic'}}>Endodontic</option>
    <option value='General Dental' {{selected this.type 'General Dental'}}>General Dental</option>
    <option value='Oral Medicine' {{selected this.type 'Oral Medicine'}}>Oral Medicine</option>
    <option value='Oral Surgery' {{selected this.type 'Oral Surgery'}}>Oral Surgery</option>
    <option value='Orthodontic' {{selected this.type 'Orthodontic'}}>Orthodontic</option>
    <option value='Paediatric Dentistry' {{selected this.type 'Paediatric Dentistry'}}>Paediatric Dentistry</option>
    <option value='Periodontic' {{selected this.type 'Periodontic'}}>Periodontic</option>
    <option value='Prosthodontic' {{selected this.type 'Prosthodontic'}}>Prosthodontic</option>
    <option value='Acquired Brain Injury Info/Referral' {{selected this.type 'Acquired Brain Injury Info/Referral'}}>Acquired Brain Injury Info/Referral</option>
    <option value='Disability Advocacy' {{selected this.type 'Disability Advocacy'}}>Disability Advocacy</option>
    <option value='Disability Aids & Equipment' {{selected this.type 'Disability Aids & Equipment'}}>Disability Aids & Equipment</option>
    <option value='Disability Case Management' {{selected this.type 'Disability Case Management'}}>Disability Case Management</option>
    <option value='Disability Day Programs/Activities' {{selected this.type 'Disability Day Programs/Activities'}}>Disability Day Programs/Activities</option>
    <option value='Disability Information/Referral' {{selected this.type 'Disability Information/Referral'}}>Disability Information/Referral</option>
    <option value='Disability Support Packages' {{selected this.type 'Disability Support Packages'}}>Disability Support Packages</option>
    <option value='Disability Supported Accommodation' {{selected this.type 'Disability Supported Accommodation'}}>Disability Supported Accommodation</option>
    <option value='Early Childhood Intervention' {{selected this.type 'Early Childhood Intervention'}}>Early Childhood Intervention</option>
    <option value='Hearing Aids & Equipment' {{selected this.type 'Hearing Aids & Equipment'}}>Hearing Aids & Equipment</option>
    <option value='Drug and/or Alcohol Counselling' {{selected this.type 'Drug and/or Alcohol Counselling'}}>Drug and/or Alcohol Counselling</option>
    <option value='Drug/Alcohol Information/Referral' {{selected this.type 'Drug/Alcohol Information/Referral'}}>Drug/Alcohol Information/Referral</option>
    <option value='Needle & Syringe Exchange' {{selected this.type 'Needle & Syringe Exchange'}}>Needle & Syringe Exchange</option>
    <option value='Non-resid. Alcohol/Drug Treatment' {{selected this.type 'Non-resid. Alcohol/Drug Treatment'}}>Non-resid. Alcohol/Drug Treatment</option>
    <option value='Pharmacotherapy' {{selected this.type 'Pharmacotherapy'}}>Pharmacotherapy</option>
    <option value='Quit Program' {{selected this.type 'Quit Program'}}>Quit Program</option>
    <option value='Residential Alcohol/Drug Treatment' {{selected this.type 'Residential Alcohol/Drug Treatment'}}>Residential Alcohol/Drug Treatment</option>
    <option value='Adult/Community Education' {{selected this.type 'Adult/Community Education'}}>Adult/Community Education</option>
    <option value='Higher Education' {{selected this.type 'Higher Education'}}>Higher Education</option>
    <option value='Primary Education' {{selected this.type 'Primary Education'}}>Primary Education</option>
    <option value='Secondary Education' {{selected this.type 'Secondary Education'}}>Secondary Education</option>
    <option value='Training & Vocational Education' {{selected this.type 'Training & Vocational Education'}}>Training & Vocational Education</option>
    <option value='Emergency Medical' {{selected this.type 'Emergency Medical'}}>Emergency Medical</option>
    <option value='Employment Placement and/or Support' {{selected this.type 'Employment Placement and/or Support'}}>Employment Placement and/or Support</option>
    <option value='Vocational Rehabilitation' {{selected this.type 'Vocational Rehabilitation'}}>Vocational Rehabilitation</option>
    <option value='Work Safety/Accident Prevention' {{selected this.type 'Work Safety/Accident Prevention'}}>Work Safety/Accident Prevention</option>
    <option value='Financial Assistance' {{selected this.type 'Financial Assistance'}}>Financial Assistance</option>
    <option value='Financial Information/Advice' {{selected this.type 'Financial Information/Advice'}}>Financial Information/Advice</option>
    <option value='Material Aid' {{selected this.type 'Material Aid'}}>Material Aid</option>
    <option value='General Practice' {{selected this.type 'General Practice'}}>General Practice</option>
    <option value='Accommodation Placement/Support' {{selected this.type 'Accommodation Placement/Support'}}>Accommodation Placement/Support</option>
    <option value='Crisis/Emergency Accommodation' {{selected this.type 'Crisis/Emergency Accommodation'}}>Crisis/Emergency Accommodation</option>
    <option value='Homelessness Support' {{selected this.type 'Homelessness Support'}}>Homelessness Support</option>
    <option value='Housing Information/Referral' {{selected this.type 'Housing Information/Referral'}}>Housing Information/Referral</option>
    <option value='Public Rental Housing' {{selected this.type 'Public Rental Housing'}}>Public Rental Housing</option>
    <option value='Interpreting/Multilingual Service' {{selected this.type 'Interpreting/Multilingual Service'}}>Interpreting/Multilingual Service</option>
    <option value='Juvenile Justice' {{selected this.type 'Juvenile Justice'}}>Juvenile Justice</option>
    <option value='Legal Advocacy' {{selected this.type 'Legal Advocacy'}}>Legal Advocacy</option>
    <option value='Legal Information/Advice/Referral' {{selected this.type 'Legal Information/Advice/Referral'}}>Legal Information/Advice/Referral</option>
    <option value='Mental Health Advocacy' {{selected this.type 'Mental Health Advocacy'}}>Mental Health Advocacy</option>
    <option value='Mental Health Assess/Triage/Crisis Response' {{selected this.type 'Mental Health Assess/Triage/Crisis Response'}}>Mental Health Assess/Triage/Crisis Response</option>
    <option value='Mental Health Case Management' {{selected this.type 'Mental Health Case Management'}}>Mental Health Case Management</option>
    <option value='Mental Health Information/Referral' {{selected this.type 'Mental Health Information/Referral'}}>Mental Health Information/Referral</option>
    <option value='Mental Health Inpatient Services' {{selected this.type 'Mental Health Inpatient Services'}}>Mental Health Inpatient Services</option>
    <option value='Mental Health Non-residential Rehab' {{selected this.type 'Mental Health Non-residential Rehab'}}>Mental Health Non-residential Rehab</option>
    <option value='Mental Health Residential Rehab/CCU' {{selected this.type 'Mental Health Residential Rehab/CCU'}}>Mental Health Residential Rehab/CCU</option>
    <option value='Psychiatry (Requires Referral)' {{selected this.type 'Psychiatry (Requires Referral)'}}>Psychiatry (Requires Referral)</option>
    <option value='Psychology' {{selected this.type 'Psychology'}}>Psychology</option>
    <option value='Martial Arts' {{selected this.type 'Martial Arts'}}>Martial Arts</option>
    <option value='Personal Fitness Training' {{selected this.type 'Personal Fitness Training'}}>Personal Fitness Training</option>
    <option value='Physical Activity Group' {{selected this.type 'Physical Activity Group'}}>Physical Activity Group</option>
    <option value='Physical Activity Programs' {{selected this.type 'Physical Activity Programs'}}>Physical Activity Programs</option>
    <option value='Physical Fitness Testing' {{selected this.type 'Physical Fitness Testing'}}>Physical Fitness Testing</option>
    <option value='Pilates' {{selected this.type 'Pilates'}}>Pilates</option>
    <option value='Self-Defence' {{selected this.type 'Self-Defence'}}>Self-Defence</option>
    <option value='Sporting Club' {{selected this.type 'Sporting Club'}}>Sporting Club</option>
    <option value='Yoga' {{selected this.type 'Yoga'}}>Yoga</option>
    <option value='Food Safety' {{selected this.type 'Food Safety'}}>Food Safety</option>
    <option value='Health Regulatory /Inspection /Cert.' {{selected this.type 'Health Regulatory /Inspection /Cert.'}}>Health Regulatory /Inspection /Cert.</option>
    <option value='Work Health/Safety Inspection/Cert.' {{selected this.type 'Work Health/Safety Inspection/Cert.'}}>Work Health/Safety Inspection/Cert.</option>
    <option value='Carer Support' {{selected this.type 'Carer Support'}}>Carer Support</option>
    <option value='Respite Care' {{selected this.type 'Respite Care'}}>Respite Care</option>
    <option value='Anatomical Pathology' {{selected this.type 'Anatomical Pathology'}}>Anatomical Pathology</option>
    <option value='Pathology - Clinical Chemistry' {{selected this.type 'Pathology - Clinical Chemistry'}}>Pathology - Clinical Chemistry</option>
    <option value='Pathology - General' {{selected this.type 'Pathology - General'}}>Pathology - General</option>
    <option value='Pathology - Genetics' {{selected this.type 'Pathology - Genetics'}}>Pathology - Genetics</option>
    <option value='Pathology - Haematology' {{selected this.type 'Pathology - Haematology'}}>Pathology - Haematology</option>
    <option value='Pathology - Immunology' {{selected this.type 'Pathology - Immunology'}}>Pathology - Immunology</option>
    <option value='Pathology - Microbiology' {{selected this.type 'Pathology - Microbiology'}}>Pathology - Microbiology</option>
    <option value='Anaesthesiology - Pain Medicine' {{selected this.type 'Anaesthesiology - Pain Medicine'}}>Anaesthesiology - Pain Medicine</option>
    <option value='Cardiology' {{selected this.type 'Cardiology'}}>Cardiology</option>
    <option value='Clinical Genetics' {{selected this.type 'Clinical Genetics'}}>Clinical Genetics</option>
    <option value='Clinical Pharmacology' {{selected this.type 'Clinical Pharmacology'}}>Clinical Pharmacology</option>
    <option value='Dermatology' {{selected this.type 'Dermatology'}}>Dermatology</option>
    <option value='Endocrinology' {{selected this.type 'Endocrinology'}}>Endocrinology</option>
    <option value='Gastroenterology & Hepatology' {{selected this.type 'Gastroenterology & Hepatology'}}>Gastroenterology & Hepatology</option>
    <option value='Geriatric Medicine' {{selected this.type 'Geriatric Medicine'}}>Geriatric Medicine</option>
    <option value='Immunology & Allergy' {{selected this.type 'Immunology & Allergy'}}>Immunology & Allergy</option>
    <option value='Infectious Diseases' {{selected this.type 'Infectious Diseases'}}>Infectious Diseases</option>
    <option value='Intensive Care Medicine' {{selected this.type 'Intensive Care Medicine'}}>Intensive Care Medicine</option>
    <option value='Medical Oncology' {{selected this.type 'Medical Oncology'}}>Medical Oncology</option>
    <option value='Nephrology' {{selected this.type 'Nephrology'}}>Nephrology</option>
    <option value='Neurology' {{selected this.type 'Neurology'}}>Neurology</option>
    <option value='Occupational Medicine' {{selected this.type 'Occupational Medicine'}}>Occupational Medicine</option>
    <option value='Palliative Medicine' {{selected this.type 'Palliative Medicine'}}>Palliative Medicine</option>
    <option value='Public Health Medicine' {{selected this.type 'Public Health Medicine'}}>Public Health Medicine</option>
    <option value='Rehabilitation Medicine' {{selected this.type 'Rehabilitation Medicine'}}>Rehabilitation Medicine</option>
    <option value='Rheumatology' {{selected this.type 'Rheumatology'}}>Rheumatology</option>
    <option value='Sleep Medicine' {{selected this.type 'Sleep Medicine'}}>Sleep Medicine</option>
    <option value='Thoracic Medicine' {{selected this.type 'Thoracic Medicine'}}>Thoracic Medicine</option>
    <option value='Gynaecological Oncology' {{selected this.type 'Gynaecological Oncology'}}>Gynaecological Oncology</option>
    <option value='Obstetrics & Gynaecology' {{selected this.type 'Obstetrics & Gynaecology'}}>Obstetrics & Gynaecology</option>
    <option value='Reproductive Endocrinology/Infertility' {{selected this.type 'Reproductive Endocrinology/Infertility'}}>Reproductive Endocrinology/Infertility</option>
    <option value='Urogynaecology' {{selected this.type 'Urogynaecology'}}>Urogynaecology</option>
    <option value='Neonatology & Perinatology' {{selected this.type 'Neonatology & Perinatology'}}>Neonatology & Perinatology</option>
    <option value='Paediatric Cardiology' {{selected this.type 'Paediatric Cardiology'}}>Paediatric Cardiology</option>
    <option value='Paediatric Clinical Genetics' {{selected this.type 'Paediatric Clinical Genetics'}}>Paediatric Clinical Genetics</option>
    <option value='Paediatric Clinical Pharmacology' {{selected this.type 'Paediatric Clinical Pharmacology'}}>Paediatric Clinical Pharmacology</option>
    <option value='Paediatric Endocrinology' {{selected this.type 'Paediatric Endocrinology'}}>Paediatric Endocrinology</option>
    <option value='Paed. Gastroenterology/Hepatology' {{selected this.type 'Paed. Gastroenterology/Hepatology'}}>Paed. Gastroenterology/Hepatology</option>
    <option value='Paediatric Haematology' {{selected this.type 'Paediatric Haematology'}}>Paediatric Haematology</option>
    <option value='Paediatric Immunology & Allergy' {{selected this.type 'Paediatric Immunology & Allergy'}}>Paediatric Immunology & Allergy</option>
    <option value='Paediatric Infectious Diseases' {{selected this.type 'Paediatric Infectious Diseases'}}>Paediatric Infectious Diseases</option>
    <option value='Paediatric Intensive Care Medicine' {{selected this.type 'Paediatric Intensive Care Medicine'}}>Paediatric Intensive Care Medicine</option>
    <option value='Paediatric Medical Oncology' {{selected this.type 'Paediatric Medical Oncology'}}>Paediatric Medical Oncology</option>
    <option value='Paediatric Medicine' {{selected this.type 'Paediatric Medicine'}}>Paediatric Medicine</option>
    <option value='Paediatric Nephrology' {{selected this.type 'Paediatric Nephrology'}}>Paediatric Nephrology</option>
    <option value='Paediatric Neurology' {{selected this.type 'Paediatric Neurology'}}>Paediatric Neurology</option>
    <option value='Paediatric Nuclear Medicine' {{selected this.type 'Paediatric Nuclear Medicine'}}>Paediatric Nuclear Medicine</option>
    <option value='Paediatric Rehabilitation Medicine' {{selected this.type 'Paediatric Rehabilitation Medicine'}}>Paediatric Rehabilitation Medicine</option>
    <option value='Paediatric Rheumatology' {{selected this.type 'Paediatric Rheumatology'}}>Paediatric Rheumatology</option>
    <option value='Paediatric Sleep Medicine' {{selected this.type 'Paediatric Sleep Medicine'}}>Paediatric Sleep Medicine</option>
    <option value='Paediatric Surgery' {{selected this.type 'Paediatric Surgery'}}>Paediatric Surgery</option>
    <option value='Paediatric Thoracic Medicine' {{selected this.type 'Paediatric Thoracic Medicine'}}>Paediatric Thoracic Medicine</option>
    <option value='Diag. Radiology /Xray /CT /Fluoroscopy' {{selected this.type 'Diag. Radiology /Xray /CT /Fluoroscopy'}}>Diag. Radiology /Xray /CT /Fluoroscopy</option>
    <option value='Diagnostic Ultrasound' {{selected this.type 'Diagnostic Ultrasound'}}>Diagnostic Ultrasound</option>
    <option value='Magnetic Resonance Imaging (MRI)' {{selected this.type 'Magnetic Resonance Imaging (MRI)'}}>Magnetic Resonance Imaging (MRI)</option>
    <option value='Nuclear Medicine' {{selected this.type 'Nuclear Medicine'}}>Nuclear Medicine</option>
    <option value='Obstetric/Gynaecological Ultrasound' {{selected this.type 'Obstetric/Gynaecological Ultrasound'}}>Obstetric/Gynaecological Ultrasound</option>
    <option value='Radiation Oncology' {{selected this.type 'Radiation Oncology'}}>Radiation Oncology</option>
    <option value='Cardiothoracic Surgery' {{selected this.type 'Cardiothoracic Surgery'}}>Cardiothoracic Surgery</option>
    <option value='Neurosurgery' {{selected this.type 'Neurosurgery'}}>Neurosurgery</option>
    <option value='Ophthalmology' {{selected this.type 'Ophthalmology'}}>Ophthalmology</option>
    <option value='Orthopaedic Surgery' {{selected this.type 'Orthopaedic Surgery'}}>Orthopaedic Surgery</option>
    <option value='Otolaryngology/Head & Neck Surgery' {{selected this.type 'Otolaryngology/Head & Neck Surgery'}}>Otolaryngology/Head & Neck Surgery</option>
    <option value='Plastic & Reconstructive Surgery' {{selected this.type 'Plastic & Reconstructive Surgery'}}>Plastic & Reconstructive Surgery</option>
    <option value='Surgery - General' {{selected this.type 'Surgery - General'}}>Surgery - General</option>
    <option value='Urology' {{selected this.type 'Urology'}}>Urology</option>
    <option value='Vascular Surgery' {{selected this.type 'Vascular Surgery'}}>Vascular Surgery</option>
    <option value='Support Groups' {{selected this.type 'Support Groups'}}>Support Groups</option>
    <option value='Air ambulance' {{selected this.type 'Air ambulance'}}>Air ambulance</option>
    <option value='Ambulance' {{selected this.type 'Ambulance'}}>Ambulance</option>
    <option value='Blood Transport' {{selected this.type 'Blood Transport'}}>Blood Transport</option>
    <option value='Community Bus' {{selected this.type 'Community Bus'}}>Community Bus</option>
    <option value='Flying Doctor Service' {{selected this.type 'Flying Doctor Service'}}>Flying Doctor Service</option>
    <option value='Patient Transport' {{selected this.type 'Patient Transport'}}>Patient Transport</option>
    <option value='A&E' {{selected this.type 'A&E'}}>A&E</option>
    <option value='A&EP' {{selected this.type 'A&EP'}}>A&EP</option>
    <option value='Abuse' {{selected this.type 'Abuse'}}>Abuse</option>
    <option value='ACAS' {{selected this.type 'ACAS'}}>ACAS</option>
    <option value='Access' {{selected this.type 'Access'}}>Access</option>
    <option value='Accident' {{selected this.type 'Accident'}}>Accident</option>
    <option value='Acute Inpatient Serv' {{selected this.type 'Acute Inpatient Serv'}}>Acute Inpatient Serv</option>
    <option value='Adult Day Programs' {{selected this.type 'Adult Day Programs'}}>Adult Day Programs</option>
    <option value='Adult Mental Health Services' {{selected this.type 'Adult Mental Health Services'}}>Adult Mental Health Services</option>
    <option value='Advice' {{selected this.type 'Advice'}}>Advice</option>
    <option value='Advocacy' {{selected this.type 'Advocacy'}}>Advocacy</option>
    <option value='Aged Persons Mental' {{selected this.type 'Aged Persons Mental'}}>Aged Persons Mental</option>
    <option value='Aged Persons Mental' {{selected this.type 'Aged Persons Mental'}}>Aged Persons Mental</option>
    <option value='Aged Persons Mental' {{selected this.type 'Aged Persons Mental'}}>Aged Persons Mental</option>
    <option value='Aids' {{selected this.type 'Aids'}}>Aids</option>
    <option value='Al-Anon' {{selected this.type 'Al-Anon'}}>Al-Anon</option>
    <option value='Alcohol' {{selected this.type 'Alcohol'}}>Alcohol</option>
    <option value='Al-Teen' {{selected this.type 'Al-Teen'}}>Al-Teen</option>
    <option value='Antenatal' {{selected this.type 'Antenatal'}}>Antenatal</option>
    <option value='Anxiety' {{selected this.type 'Anxiety'}}>Anxiety</option>
    <option value='Arthritis' {{selected this.type 'Arthritis'}}>Arthritis</option>
    <option value='Assessment' {{selected this.type 'Assessment'}}>Assessment</option>
    <option value='Assistance' {{selected this.type 'Assistance'}}>Assistance</option>
    <option value='Asthma' {{selected this.type 'Asthma'}}>Asthma</option>
    <option value='ATSS' {{selected this.type 'ATSS'}}>ATSS</option>
    <option value='Attendant Care' {{selected this.type 'Attendant Care'}}>Attendant Care</option>
    <option value='Babies' {{selected this.type 'Babies'}}>Babies</option>
    <option value='Bathroom Modificatio' {{selected this.type 'Bathroom Modificatio'}}>Bathroom Modificatio</option>
    <option value='Behavior' {{selected this.type 'Behavior'}}>Behavior</option>
    <option value='Behavior Interventi' {{selected this.type 'Behavior Interventi'}}>Behavior Interventi</option>
    <option value='Bereavement' {{selected this.type 'Bereavement'}}>Bereavement</option>
    <option value='Bipolar' {{selected this.type 'Bipolar'}}>Bipolar</option>
    <option value='Birth' {{selected this.type 'Birth'}}>Birth</option>
    <option value='Birth Control' {{selected this.type 'Birth Control'}}>Birth Control</option>
    <option value='Birthing Options' {{selected this.type 'Birthing Options'}}>Birthing Options</option>
    <option value='BIST' {{selected this.type 'BIST'}}>BIST</option>
    <option value='Blood' {{selected this.type 'Blood'}}>Blood</option>
    <option value='Bone' {{selected this.type 'Bone'}}>Bone</option>
    <option value='Bowel' {{selected this.type 'Bowel'}}>Bowel</option>
    <option value='Brain' {{selected this.type 'Brain'}}>Brain</option>
    <option value='Breast Feeding' {{selected this.type 'Breast Feeding'}}>Breast Feeding</option>
    <option value='Breast Screen' {{selected this.type 'Breast Screen'}}>Breast Screen</option>
    <option value='Brokerage' {{selected this.type 'Brokerage'}}>Brokerage</option>
    <option value='Cancer' {{selected this.type 'Cancer'}}>Cancer</option>
    <option value='Cancer Support' {{selected this.type 'Cancer Support'}}>Cancer Support</option>
    <option value='Cardiovascular Disea' {{selected this.type 'Cardiovascular Disea'}}>Cardiovascular Disea</option>
    <option value='Care Packages' {{selected this.type 'Care Packages'}}>Care Packages</option>
    <option value='Carer' {{selected this.type 'Carer'}}>Carer</option>
    <option value='Case Management' {{selected this.type 'Case Management'}}>Case Management</option>
    <option value='Casualty' {{selected this.type 'Casualty'}}>Casualty</option>
    <option value='Centrelink' {{selected this.type 'Centrelink'}}>Centrelink</option>
    <option value='Chemists' {{selected this.type 'Chemists'}}>Chemists</option>
    <option value='Child And Adolescent' {{selected this.type 'Child And Adolescent'}}>Child And Adolescent</option>
    <option value='Child Care' {{selected this.type 'Child Care'}}>Child Care</option>
    <option value='Child Services' {{selected this.type 'Child Services'}}>Child Services</option>
    <option value='Children' {{selected this.type 'Children'}}>Children</option>
    <option value='Children&#39;s Services' {{selected this.type 'Children&#39;s Services'}}>Children&#39;s Services</option>
    <option value='Cholesterol' {{selected this.type 'Cholesterol'}}>Cholesterol</option>
    <option value='Clothing' {{selected this.type 'Clothing'}}>Clothing</option>
    <option value='Community Based Acco' {{selected this.type 'Community Based Acco'}}>Community Based Acco</option>
    <option value='Community Care Unit' {{selected this.type 'Community Care Unit'}}>Community Care Unit</option>
    <option value='Community Child And' {{selected this.type 'Community Child And'}}>Community Child And</option>
    <option value='Community Health' {{selected this.type 'Community Health'}}>Community Health</option>
    <option value='Community Residentia' {{selected this.type 'Community Residentia'}}>Community Residentia</option>
    <option value='Community Transport' {{selected this.type 'Community Transport'}}>Community Transport</option>
    <option value='Companion Visiting' {{selected this.type 'Companion Visiting'}}>Companion Visiting</option>
    <option value='Companionship' {{selected this.type 'Companionship'}}>Companionship</option>
    <option value='Consumer Advice' {{selected this.type 'Consumer Advice'}}>Consumer Advice</option>
    <option value='Consumer Issues' {{selected this.type 'Consumer Issues'}}>Consumer Issues</option>
    <option value='Continuing Care Serv' {{selected this.type 'Continuing Care Serv'}}>Continuing Care Serv</option>
    <option value='Contraception Inform' {{selected this.type 'Contraception Inform'}}>Contraception Inform</option>
    <option value='Coordinating Bodies' {{selected this.type 'Coordinating Bodies'}}>Coordinating Bodies</option>
    <option value='Correctional Service' {{selected this.type 'Correctional Service'}}>Correctional Service</option>
    <option value='Council Environmenta' {{selected this.type 'Council Environmenta'}}>Council Environmenta</option>
    <option value='Counselling' {{selected this.type 'Counselling'}}>Counselling</option>
    <option value='Criminal' {{selected this.type 'Criminal'}}>Criminal</option>
    <option value='Crises' {{selected this.type 'Crises'}}>Crises</option>
    <option value='Crisis Assessment An' {{selected this.type 'Crisis Assessment An'}}>Crisis Assessment An</option>
    <option value='Crisis Assistance' {{selected this.type 'Crisis Assistance'}}>Crisis Assistance</option>
    <option value='Crisis Refuge' {{selected this.type 'Crisis Refuge'}}>Crisis Refuge</option>
    <option value='Day Program' {{selected this.type 'Day Program'}}>Day Program</option>
    <option value='Deaf' {{selected this.type 'Deaf'}}>Deaf</option>
    <option value='Dental Hygiene' {{selected this.type 'Dental Hygiene'}}>Dental Hygiene</option>
    <option value='Dentistry' {{selected this.type 'Dentistry'}}>Dentistry</option>
    <option value='Dentures' {{selected this.type 'Dentures'}}>Dentures</option>
    <option value='Depression' {{selected this.type 'Depression'}}>Depression</option>
    <option value='Detoxification' {{selected this.type 'Detoxification'}}>Detoxification</option>
    <option value='Diabetes' {{selected this.type 'Diabetes'}}>Diabetes</option>
    <option value='Diaphragm Fitting' {{selected this.type 'Diaphragm Fitting'}}>Diaphragm Fitting</option>
    <option value='Dieticians' {{selected this.type 'Dieticians'}}>Dieticians</option>
    <option value='Disabled Parking' {{selected this.type 'Disabled Parking'}}>Disabled Parking</option>
    <option value='District Nursing' {{selected this.type 'District Nursing'}}>District Nursing</option>
    <option value='Divorce' {{selected this.type 'Divorce'}}>Divorce</option>
    <option value='Doctors' {{selected this.type 'Doctors'}}>Doctors</option>
    <option value='Drink-Drive' {{selected this.type 'Drink-Drive'}}>Drink-Drive</option>
    <option value='Dual Diagnosis Servi' {{selected this.type 'Dual Diagnosis Servi'}}>Dual Diagnosis Servi</option>
    <option value='Early Choice' {{selected this.type 'Early Choice'}}>Early Choice</option>
    <option value='Eating Disorder' {{selected this.type 'Eating Disorder'}}>Eating Disorder</option>
    <option value='Emergency Relief' {{selected this.type 'Emergency Relief'}}>Emergency Relief</option>
    <option value='Employment And Train' {{selected this.type 'Employment And Train'}}>Employment And Train</option>
    <option value='Environment' {{selected this.type 'Environment'}}>Environment</option>
    <option value='Equipment' {{selected this.type 'Equipment'}}>Equipment</option>
    <option value='Exercise' {{selected this.type 'Exercise'}}>Exercise</option>
    <option value='Facility' {{selected this.type 'Facility'}}>Facility</option>
    <option value='Family Choice' {{selected this.type 'Family Choice'}}>Family Choice</option>
    <option value='Family Law' {{selected this.type 'Family Law'}}>Family Law</option>
    <option value='Family Options' {{selected this.type 'Family Options'}}>Family Options</option>
    <option value='Family Services' {{selected this.type 'Family Services'}}>Family Services</option>
    <option value='FFYA' {{selected this.type 'FFYA'}}>FFYA</option>
    <option value='Financial Aid' {{selected this.type 'Financial Aid'}}>Financial Aid</option>
    <option value='Fitness' {{selected this.type 'Fitness'}}>Fitness</option>
    <option value='Flexible Care Packag' {{selected this.type 'Flexible Care Packag'}}>Flexible Care Packag</option>
    <option value='Food' {{selected this.type 'Food'}}>Food</option>
    <option value='Food Vouchers' {{selected this.type 'Food Vouchers'}}>Food Vouchers</option>
    <option value='Forensic Mental Heal' {{selected this.type 'Forensic Mental Heal'}}>Forensic Mental Heal</option>
    <option value='Futures' {{selected this.type 'Futures'}}>Futures</option>
    <option value='Futures For Young Ad' {{selected this.type 'Futures For Young Ad'}}>Futures For Young Ad</option>
    <option value='General Practitioner' {{selected this.type 'General Practitioner'}}>General Practitioner</option>
    <option value='Grants' {{selected this.type 'Grants'}}>Grants</option>
    <option value='Grief' {{selected this.type 'Grief'}}>Grief</option>
    <option value='Grief Counselling' {{selected this.type 'Grief Counselling'}}>Grief Counselling</option>
    <option value='HACC' {{selected this.type 'HACC'}}>HACC</option>
    <option value='Heart Disease' {{selected this.type 'Heart Disease'}}>Heart Disease</option>
    <option value='Help' {{selected this.type 'Help'}}>Help</option>
    <option value='High Blood Pressure' {{selected this.type 'High Blood Pressure'}}>High Blood Pressure</option>
    <option value='Home Help' {{selected this.type 'Home Help'}}>Home Help</option>
    <option value='Home Nursing' {{selected this.type 'Home Nursing'}}>Home Nursing</option>
    <option value='Homefirst' {{selected this.type 'Homefirst'}}>Homefirst</option>
    <option value='Hospice Care' {{selected this.type 'Hospice Care'}}>Hospice Care</option>
    <option value='Hospital Services' {{selected this.type 'Hospital Services'}}>Hospital Services</option>
    <option value='Hospital To Home' {{selected this.type 'Hospital To Home'}}>Hospital To Home</option>
    <option value='Hostel' {{selected this.type 'Hostel'}}>Hostel</option>
    <option value='Hostel Accommodation' {{selected this.type 'Hostel Accommodation'}}>Hostel Accommodation</option>
    <option value='Household Items' {{selected this.type 'Household Items'}}>Household Items</option>
    <option value='Hypertension' {{selected this.type 'Hypertension'}}>Hypertension</option>
    <option value='Illness' {{selected this.type 'Illness'}}>Illness</option>
    <option value='Independent Living' {{selected this.type 'Independent Living'}}>Independent Living</option>
    <option value='Information' {{selected this.type 'Information'}}>Information</option>
    <option value='Injury' {{selected this.type 'Injury'}}>Injury</option>
    <option value='Intake' {{selected this.type 'Intake'}}>Intake</option>
    <option value='Intensive Mobile You' {{selected this.type 'Intensive Mobile You'}}>Intensive Mobile You</option>
    <option value='Intervention' {{selected this.type 'Intervention'}}>Intervention</option>
    <option value='Job Searching' {{selected this.type 'Job Searching'}}>Job Searching</option>
    <option value='Justice' {{selected this.type 'Justice'}}>Justice</option>
    <option value='Leisure' {{selected this.type 'Leisure'}}>Leisure</option>
    <option value='Loans' {{selected this.type 'Loans'}}>Loans</option>
    <option value='Low Income Earners' {{selected this.type 'Low Income Earners'}}>Low Income Earners</option>
    <option value='Lung' {{selected this.type 'Lung'}}>Lung</option>
    <option value='Making A Difference' {{selected this.type 'Making A Difference'}}>Making A Difference</option>
    <option value='Medical Services' {{selected this.type 'Medical Services'}}>Medical Services</option>
    <option value='Medical Specialists' {{selected this.type 'Medical Specialists'}}>Medical Specialists</option>
    <option value='Medication Administr' {{selected this.type 'Medication Administr'}}>Medication Administr</option>
    <option value='Menstrual Informatio' {{selected this.type 'Menstrual Informatio'}}>Menstrual Informatio</option>
    <option value='Methadone' {{selected this.type 'Methadone'}}>Methadone</option>
    <option value='Mobile Support And T' {{selected this.type 'Mobile Support And T'}}>Mobile Support And T</option>
    <option value='Motor Neurone' {{selected this.type 'Motor Neurone'}}>Motor Neurone</option>
    <option value='Multiple Sclerosis' {{selected this.type 'Multiple Sclerosis'}}>Multiple Sclerosis</option>
    <option value='Neighbourhood House' {{selected this.type 'Neighbourhood House'}}>Neighbourhood House</option>
    <option value='Nursing Home' {{selected this.type 'Nursing Home'}}>Nursing Home</option>
    <option value='Nursing Mothers' {{selected this.type 'Nursing Mothers'}}>Nursing Mothers</option>
    <option value='Obesity' {{selected this.type 'Obesity'}}>Obesity</option>
    <option value='Occupational Health' {{selected this.type 'Occupational Health'}}>Occupational Health</option>
    <option value='Optometrist' {{selected this.type 'Optometrist'}}>Optometrist</option>
    <option value='Oral Hygiene' {{selected this.type 'Oral Hygiene'}}>Oral Hygiene</option>
    <option value='Outpatients' {{selected this.type 'Outpatients'}}>Outpatients</option>
    <option value='Outreach Service' {{selected this.type 'Outreach Service'}}>Outreach Service</option>
    <option value='PADP' {{selected this.type 'PADP'}}>PADP</option>
    <option value='Pain' {{selected this.type 'Pain'}}>Pain</option>
    <option value='Pap Smear' {{selected this.type 'Pap Smear'}}>Pap Smear</option>
    <option value='Parenting' {{selected this.type 'Parenting'}}>Parenting</option>
    <option value='Peak Organizations' {{selected this.type 'Peak Organizations'}}>Peak Organizations</option>
    <option value='Personal Care' {{selected this.type 'Personal Care'}}>Personal Care</option>
    <option value='Pharmacies' {{selected this.type 'Pharmacies'}}>Pharmacies</option>
    <option value='Phobias' {{selected this.type 'Phobias'}}>Phobias</option>
    <option value='Physical' {{selected this.type 'Physical'}}>Physical</option>
    <option value='Physical Activity' {{selected this.type 'Physical Activity'}}>Physical Activity</option>
    <option value='Postnatal' {{selected this.type 'Postnatal'}}>Postnatal</option>
    <option value='Pregnancy' {{selected this.type 'Pregnancy'}}>Pregnancy</option>
    <option value='Pregnancy Tests' {{selected this.type 'Pregnancy Tests'}}>Pregnancy Tests</option>
    <option value='Preschool' {{selected this.type 'Preschool'}}>Preschool</option>
    <option value='Prescriptions' {{selected this.type 'Prescriptions'}}>Prescriptions</option>
    <option value='Primary Mental Healt' {{selected this.type 'Primary Mental Healt'}}>Primary Mental Healt</option>
    <option value='Property Maintenance' {{selected this.type 'Property Maintenance'}}>Property Maintenance</option>
    <option value='Prostate' {{selected this.type 'Prostate'}}>Prostate</option>
    <option value='Psychiatric' {{selected this.type 'Psychiatric'}}>Psychiatric</option>
    <option value='Psychiatric Disabili' {{selected this.type 'Psychiatric Disabili'}}>Psychiatric Disabili</option>
    <option value='Psychiatric Disabili' {{selected this.type 'Psychiatric Disabili'}}>Psychiatric Disabili</option>
    <option value='Psychiatric Disabili' {{selected this.type 'Psychiatric Disabili'}}>Psychiatric Disabili</option>
    <option value='Psychiatric Disabili' {{selected this.type 'Psychiatric Disabili'}}>Psychiatric Disabili</option>
    <option value='Psychiatric Disabili' {{selected this.type 'Psychiatric Disabili'}}>Psychiatric Disabili</option>
    <option value='Psychiatric Support' {{selected this.type 'Psychiatric Support'}}>Psychiatric Support</option>
    <option value='Recreation' {{selected this.type 'Recreation'}}>Recreation</option>
    <option value='Referral' {{selected this.type 'Referral'}}>Referral</option>
    <option value='Refuge' {{selected this.type 'Refuge'}}>Refuge</option>
    <option value='Rent Assistance' {{selected this.type 'Rent Assistance'}}>Rent Assistance</option>
    <option value='Residential Faciliti' {{selected this.type 'Residential Faciliti'}}>Residential Faciliti</option>
    <option value='Residential Respite' {{selected this.type 'Residential Respite'}}>Residential Respite</option>
    <option value='Respiratory' {{selected this.type 'Respiratory'}}>Respiratory</option>
    <option value='Response' {{selected this.type 'Response'}}>Response</option>
    <option value='Rooming Houses' {{selected this.type 'Rooming Houses'}}>Rooming Houses</option>
    <option value='Safe Sex' {{selected this.type 'Safe Sex'}}>Safe Sex</option>
    <option value='Secure Extended Care' {{selected this.type 'Secure Extended Care'}}>Secure Extended Care</option>
    <option value='Self Help' {{selected this.type 'Self Help'}}>Self Help</option>
    <option value='Separation' {{selected this.type 'Separation'}}>Separation</option>
    <option value='Services' {{selected this.type 'Services'}}>Services</option>
    <option value='Sex Education' {{selected this.type 'Sex Education'}}>Sex Education</option>
    <option value='Sexual Abuse' {{selected this.type 'Sexual Abuse'}}>Sexual Abuse</option>
    <option value='Sexual Issues' {{selected this.type 'Sexual Issues'}}>Sexual Issues</option>
    <option value='Sexually Transmitted' {{selected this.type 'Sexually Transmitted'}}>Sexually Transmitted</option>
    <option value='SIDS' {{selected this.type 'SIDS'}}>SIDS</option>
    <option value='Social Support' {{selected this.type 'Social Support'}}>Social Support</option>
    <option value='Socialisation' {{selected this.type 'Socialisation'}}>Socialisation</option>
    <option value='Special Needs' {{selected this.type 'Special Needs'}}>Special Needs</option>
    <option value='Speech Therapist' {{selected this.type 'Speech Therapist'}}>Speech Therapist</option>
    <option value='Splinting' {{selected this.type 'Splinting'}}>Splinting</option>
    <option value='Sport' {{selected this.type 'Sport'}}>Sport</option>
    <option value='Statewide And Specia' {{selected this.type 'Statewide And Specia'}}>Statewide And Specia</option>
    <option value='STD' {{selected this.type 'STD'}}>STD</option>
    <option value='STI' {{selected this.type 'STI'}}>STI</option>
    <option value='Stillbirth' {{selected this.type 'Stillbirth'}}>Stillbirth</option>
    <option value='Stomal Care' {{selected this.type 'Stomal Care'}}>Stomal Care</option>
    <option value='Stroke' {{selected this.type 'Stroke'}}>Stroke</option>
    <option value='Substance Abuse' {{selected this.type 'Substance Abuse'}}>Substance Abuse</option>
    <option value='Support' {{selected this.type 'Support'}}>Support</option>
    <option value='Syringes' {{selected this.type 'Syringes'}}>Syringes</option>
    <option value='Teeth' {{selected this.type 'Teeth'}}>Teeth</option>
    <option value='Tenancy Advice' {{selected this.type 'Tenancy Advice'}}>Tenancy Advice</option>
    <option value='Terminal Illness' {{selected this.type 'Terminal Illness'}}>Terminal Illness</option>
    <option value='Therapy' {{selected this.type 'Therapy'}}>Therapy</option>
    <option value='Transcription' {{selected this.type 'Transcription'}}>Transcription</option>
    <option value='Translating Services' {{selected this.type 'Translating Services'}}>Translating Services</option>
    <option value='Translator' {{selected this.type 'Translator'}}>Translator</option>
    <option value='Transport' {{selected this.type 'Transport'}}>Transport</option>
    <option value='Vertebrae' {{selected this.type 'Vertebrae'}}>Vertebrae</option>
    <option value='Violence' {{selected this.type 'Violence'}}>Violence</option>
    <option value='Vocational Guidance' {{selected this.type 'Vocational Guidance'}}>Vocational Guidance</option>
    <option value='Weight' {{selected this.type 'Weight'}}>Weight</option>
    <option value='Welfare Assistance' {{selected this.type 'Welfare Assistance'}}>Welfare Assistance</option>
    <option value='Welfare Counselling' {{selected this.type 'Welfare Counselling'}}>Welfare Counselling</option>
    <option value='Wheelchairs' {{selected this.type 'Wheelchairs'}}>Wheelchairs</option>
    <option value='Wound Management' {{selected this.type 'Wound Management'}}>Wound Management</option>
    <option value='Young People At Risk' {{selected this.type 'Young People At Risk'}}>Young People At Risk</option>
    <option value='Further Desc. - Community Health Care' {{selected this.type 'Further Desc. - Community Health Care'}}>Further Desc. - Community Health Care</option>
    <option value='Library' {{selected this.type 'Library'}}>Library</option>
    <option value='Community Hours' {{selected this.type 'Community Hours'}}>Community Hours</option>
    <option value='Further Desc. - Specialist Medical' {{selected this.type 'Further Desc. - Specialist Medical'}}>Further Desc. - Specialist Medical</option>
    <option value='Hepatology' {{selected this.type 'Hepatology'}}>Hepatology</option>
    <option value='Gastroenterology' {{selected this.type 'Gastroenterology'}}>Gastroenterology</option>
    <option value='Gynaecology' {{selected this.type 'Gynaecology'}}>Gynaecology</option>
    <option value='Obstetrics' {{selected this.type 'Obstetrics'}}>Obstetrics</option>
    <option value='Further Desc. - Specialist Surgical' {{selected this.type 'Further Desc. - Specialist Surgical'}}>Further Desc. - Specialist Surgical</option>
    <option value='Placement Protection' {{selected this.type 'Placement Protection'}}>Placement Protection</option>
    <option value='Family Violence' {{selected this.type 'Family Violence'}}>Family Violence</option>
    <option value='Integrated Family Services' {{selected this.type 'Integrated Family Services'}}>Integrated Family Services</option>
    <option value='Diabetes Educator' {{selected this.type 'Diabetes Educator'}}>Diabetes Educator</option>
    <option value='Kinship Care' {{selected this.type 'Kinship Care'}}>Kinship Care</option>
    <option value='General Mental Health Services' {{selected this.type 'General Mental Health Services'}}>General Mental Health Services</option>
    <option value='Exercise Physiology' {{selected this.type 'Exercise Physiology'}}>Exercise Physiology</option>
    <option value='Medical Research' {{selected this.type 'Medical Research'}}>Medical Research</option>
    <option value='Youth' {{selected this.type 'Youth'}}>Youth</option>
    <option value='Youth Services' {{selected this.type 'Youth Services'}}>Youth Services</option>
    <option value='Youth Health' {{selected this.type 'Youth Health'}}>Youth Health</option>
    <option value='Child and Family Ser' {{selected this.type 'Child and Family Ser'}}>Child and Family Ser</option>
    <option value='Home Visits' {{selected this.type 'Home Visits'}}>Home Visits</option>
    <option value='Mobile Services' {{selected this.type 'Mobile Services'}}>Mobile Services</option>
    <option value='Before and/or After' {{selected this.type 'Before and/or After'}}>Before and/or After</option>
    <option value='Cancer Services' {{selected this.type 'Cancer Services'}}>Cancer Services</option>
    <option value='Integrated Cancer Se' {{selected this.type 'Integrated Cancer Se'}}>Integrated Cancer Se</option>
    <option value='Multidisciplinary Se' {{selected this.type 'Multidisciplinary Se'}}>Multidisciplinary Se</option>
    <option value='Multidisciplinary Ca' {{selected this.type 'Multidisciplinary Ca'}}>Multidisciplinary Ca</option>
    <option value='Meetings' {{selected this.type 'Meetings'}}>Meetings</option>
    <option value='Blood pressure monit' {{selected this.type 'Blood pressure monit'}}>Blood pressure monit</option>
    <option value='Dose administration' {{selected this.type 'Dose administration'}}>Dose administration</option>
    <option value='Medical Equipment Hi' {{selected this.type 'Medical Equipment Hi'}}>Medical Equipment Hi</option>
    <option value='Parenting/Family Support/Education' {{selected this.type 'Parenting/Family Support/Education'}}>Parenting/Family Support/Education</option>
    <option value='Deputising Service' {{selected this.type 'Deputising Service'}}>Deputising Service</option>
    <option value='Cancer Support Groups' {{selected this.type 'Cancer Support Groups'}}>Cancer Support Groups</option>
    <option value='Community Cancer Services' {{selected this.type 'Community Cancer Services'}}>Community Cancer Services</option>
    <option value='Disability Care Transport' {{selected this.type 'Disability Care Transport'}}>Disability Care Transport</option>
    <option value='Aged Care Transport' {{selected this.type 'Aged Care Transport'}}>Aged Care Transport</option>
    <option value='Diabetes Education s' {{selected this.type 'Diabetes Education s'}}>Diabetes Education s</option>
    <option value='Cardiac Rehabilitati' {{selected this.type 'Cardiac Rehabilitati'}}>Cardiac Rehabilitati</option>
    <option value='Young Adult Diabetes' {{selected this.type 'Young Adult Diabetes'}}>Young Adult Diabetes</option>
    <option value='Pulmonary Rehabilita' {{selected this.type 'Pulmonary Rehabilita'}}>Pulmonary Rehabilita</option>
    <option value='Art therapy' {{selected this.type 'Art therapy'}}>Art therapy</option>
    <option value='Medication Reviews' {{selected this.type 'Medication Reviews'}}>Medication Reviews</option>
    <option value='Telephone Counselling' {{selected this.type 'Telephone Counselling'}}>Telephone Counselling</option>
    <option value='Telephone Help Line' {{selected this.type 'Telephone Help Line'}}>Telephone Help Line</option>
    <option value='Online Service' {{selected this.type 'Online Service'}}>Online Service</option>
    <option value='Crisis - Mental Health' {{selected this.type 'Crisis - Mental Health'}}>Crisis - Mental Health</option>
    <option value='Youth Crisis' {{selected this.type 'Youth Crisis'}}>Youth Crisis</option>
    <option value='Sexual Assault' {{selected this.type 'Sexual Assault'}}>Sexual Assault</option>
    <option value='GPAH Other' {{selected this.type 'GPAH Other'}}>GPAH Other</option>
    <option value='Paediatric Dermatology' {{selected this.type 'Paediatric Dermatology'}}>Paediatric Dermatology</option>
    <option value='Veterans Services' {{selected this.type 'Veterans Services'}}>Veterans Services</option>
    <option value='Veterans' {{selected this.type 'Veterans'}}>Veterans</option>
    <option value='Food Relief/Food/Meals' {{selected this.type 'Food Relief/Food/Meals'}}>Food Relief/Food/Meals</option>
    <option value='Dementia Care' {{selected this.type 'Dementia Care'}}>Dementia Care</option>
    <option value='Alzheimer' {{selected this.type 'Alzheimer'}}>Alzheimer</option>
    <option value='Drug and/or Alcohol Support Groups' {{selected this.type 'Drug and/or Alcohol Support Groups'}}>Drug and/or Alcohol Support Groups</option>
    <option value='1-on-1 Support /Mentoring /Coaching' {{selected this.type '1-on-1 Support /Mentoring /Coaching'}}>1-on-1 Support /Mentoring /Coaching</option>
    <option value='Chronic Disease Management' {{selected this.type 'Chronic Disease Management'}}>Chronic Disease Management</option>
    <option value='Liaison Services' {{selected this.type 'Liaison Services'}}>Liaison Services</option>
    <option value='Walk-in Centre /Non-Emergency' {{selected this.type 'Walk-in Centre /Non-Emergency'}}>Walk-in Centre /Non-Emergency</option>
    <option value='Inpatients' {{selected this.type 'Inpatients'}}>Inpatients</option>
    <option value='Spiritual Counselling' {{selected this.type 'Spiritual Counselling'}}>Spiritual Counselling</option>
    <option value='Women&#39;s Health' {{selected this.type 'Women&#39;s Health'}}>Women&#39;s Health</option>
    <option value='Men&#39;s Health' {{selected this.type 'Men&#39;s Health'}}>Men&#39;s Health</option>
    <option value='Health Education/Awareness Program' {{selected this.type 'Health Education/Awareness Program'}}>Health Education/Awareness Program</option>
    <option value='Test Message' {{selected this.type 'Test Message'}}>Test Message</option>
    <option value='Remedial Massage' {{selected this.type 'Remedial Massage'}}>Remedial Massage</option>
    <option value='Adolescent Mental Health Services' {{selected this.type 'Adolescent Mental Health Services'}}>Adolescent Mental Health Services</option>
    <option value='Youth Drop In/Assistance/Support' {{selected this.type 'Youth Drop In/Assistance/Support'}}>Youth Drop In/Assistance/Support</option>
    <option value='Aboriginal Health Worker' {{selected this.type 'Aboriginal Health Worker'}}>Aboriginal Health Worker</option>
    <option value='Women&#39;s Health Clinic' {{selected this.type 'Women&#39;s Health Clinic'}}>Women&#39;s Health Clinic</option>
    <option value='Men&#39;s Health Clinic' {{selected this.type 'Men&#39;s Health Clinic'}}>Men&#39;s Health Clinic</option>
    <option value='Migrant Health Clinic' {{selected this.type 'Migrant Health Clinic'}}>Migrant Health Clinic</option>
    <option value='Refugee Health Clinic' {{selected this.type 'Refugee Health Clinic'}}>Refugee Health Clinic</option>
    <option value='Aboriginal Health Clinic' {{selected this.type 'Aboriginal Health Clinic'}}>Aboriginal Health Clinic</option>
    <option value='Nurse Practitioner Lead Clinic/s' {{selected this.type 'Nurse Practitioner Lead Clinic/s'}}>Nurse Practitioner Lead Clinic/s</option>
    <option value='Nurse Lead Clinic/s' {{selected this.type 'Nurse Lead Clinic/s'}}>Nurse Lead Clinic/s</option>
    <option value='Culturally Tailored Support Groups' {{selected this.type 'Culturally Tailored Support Groups'}}>Culturally Tailored Support Groups</option>
    <option value='Culturally Tailored Health Promotion' {{selected this.type 'Culturally Tailored Health Promotion'}}>Culturally Tailored Health Promotion</option>
    <option value='Rehabilitation' {{selected this.type 'Rehabilitation'}}>Rehabilitation</option>
    <option value='Education Information/Referral' {{selected this.type 'Education Information/Referral'}}>Education Information/Referral</option>
    <option value='Social Work' {{selected this.type 'Social Work'}}>Social Work</option>
    <option value='Haematology' {{selected this.type 'Haematology'}}>Haematology</option>
    <option value='Maternity Shared Car' {{selected this.type 'Maternity Shared Car'}}>Maternity Shared Car</option>
    <option value='Rehabilitation Servi' {{selected this.type 'Rehabilitation Servi'}}>Rehabilitation Servi</option>
    <option value='Cranio-sacral Therapy' {{selected this.type 'Cranio-sacral Therapy'}}>Cranio-sacral Therapy</option>
    <option value='Prosthetics & Orthotics' {{selected this.type 'Prosthetics & Orthotics'}}>Prosthetics &amp; Orthotics</option>
    <option value='Home Medicine Review' {{selected this.type 'Home Medicine Review'}}>Home Medicine Review</option>
    <option value='GPAH - Medical' {{selected this.type 'GPAH - Medical'}}>GPAH - Medical</option>
    <option value='Music Therapy' {{selected this.type 'Music Therapy'}}>Music Therapy</option>
    <option value='Falls Prevention' {{selected this.type 'Falls Prevention'}}>Falls Prevention</option>
    <option value='Accommodation/Tenancy' {{selected this.type 'Accommodation/Tenancy'}}>Accommodation/Tenancy</option>
    <option value='Assess-Skill, Ability, Needs' {{selected this.type 'Assess-Skill, Ability, Needs'}}>Assess-Skill, Ability, Needs</option>
    <option value='Assist Access/Maintain Employ' {{selected this.type 'Assist Access/Maintain Employ'}}>Assist Access/Maintain Employ</option>
    <option value='Assist Prod-Pers Care/Safety' {{selected this.type 'Assist Prod-Pers Care/Safety'}}>Assist Prod-Pers Care/Safety</option>
    <option value='Assist-Integrate School/Ed' {{selected this.type 'Assist-Integrate School/Ed'}}>Assist-Integrate School/Ed</option>
    <option value='Assist-Life Stage, Transition' {{selected this.type 'Assist-Life Stage, Transition'}}>Assist-Life Stage, Transition</option>
    <option value='Assist-Personal Activities' {{selected this.type 'Assist-Personal Activities'}}>Assist-Personal Activities</option>
    <option value='Assist-Travel/Transport' {{selected this.type 'Assist-Travel/Transport'}}>Assist-Travel/Transport</option>
    <option value='Assistive Equip-General Tasks' {{selected this.type 'Assistive Equip-General Tasks'}}>Assistive Equip-General Tasks</option>
    <option value='Assistive Equip-Recreation' {{selected this.type 'Assistive Equip-Recreation'}}>Assistive Equip-Recreation</option>
    <option value='Assistive Prod-Household Task' {{selected this.type 'Assistive Prod-Household Task'}}>Assistive Prod-Household Task</option>
    <option value='Behavior Support' {{selected this.type 'Behavior Support'}}>Behavior Support</option>
    <option value='Comms & Info Equipment' {{selected this.type 'Comms & Info Equipment'}}>Comms &amp; Info Equipment</option>
    <option value='Community Nursing Care' {{selected this.type 'Community Nursing Care'}}>Community Nursing Care</option>
    <option value='Daily Tasks/Shared Living' {{selected this.type 'Daily Tasks/Shared Living'}}>Daily Tasks/Shared Living</option>
    <option value='Development-Life Skills' {{selected this.type 'Development-Life Skills'}}>Development-Life Skills</option>
    <option value='Early Childhood Supports' {{selected this.type 'Early Childhood Supports'}}>Early Childhood Supports</option>
    <option value='Equipment Special Assess Setup' {{selected this.type 'Equipment Special Assess Setup'}}>Equipment Special Assess Setup</option>
    <option value='Hearing Equipment' {{selected this.type 'Hearing Equipment'}}>Hearing Equipment</option>
    <option value='Home Modification' {{selected this.type 'Home Modification'}}>Home Modification</option>
    <option value='Household Tasks' {{selected this.type 'Household Tasks'}}>Household Tasks</option>
    <option value='Interpret/Translate' {{selected this.type 'Interpret/Translate'}}>Interpret/Translate</option>
    <option value='Other Innovative Supports' {{selected this.type 'Other Innovative Supports'}}>Other Innovative Supports</option>
    <option value='Participate Community' {{selected this.type 'Participate Community'}}>Participate Community</option>
    <option value='Personal Mobility Equipment' {{selected this.type 'Personal Mobility Equipment'}}>Personal Mobility Equipment</option>
    <option value='Physical Wellbeing' {{selected this.type 'Physical Wellbeing'}}>Physical Wellbeing</option>
    <option value='Plan Management' {{selected this.type 'Plan Management'}}>Plan Management</option>
    <option value='Therapeutic Supports' {{selected this.type 'Therapeutic Supports'}}>Therapeutic Supports</option>
    <option value='Training-Travel Independence' {{selected this.type 'Training-Travel Independence'}}>Training-Travel Independence</option>
    <option value='Vehicle modifications' {{selected this.type 'Vehicle modifications'}}>Vehicle modifications</option>
    <option value='Vision Equipment' {{selected this.type 'Vision Equipment'}}>Vision Equipment</option>
  </select>
  <input name='healthcare_service_email[]' value='{{this.email}}' placeholder='E-mail' />
  <button
      type='button'
      hx-get='organization/row/healthcare-service/remove'
      hx-target='closest .healthcare-service-row'
      hx-swap='outerHTML'
  ></button>
</div>